nav{
    background: rgb(218,69,160);
    background: linear-gradient(237deg, rgba(218,69,160,1) 0%, rgba(127,37,154,1) 35%, rgba(255,0,138,1) 100%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h2{
    margin: 0;
    padding: 0;
    color: white;
}

button{
    border: 0;
    font-size: 18px;
    color: white;
    margin-right: 14px;
    height: 40px;
    width: 100px;
    box-shadow: 5px 5px 0 black;
    border-radius: 10px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover{
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        cursor: pointer;
        box-shadow: 5px 5px 0 #48dbfb;
        transform: translate(-2px) scale(1.1);
    }
}